.form_section {
    display: flex;
    background-color: #339933;
    height: 476px;
}

.form_item {
    display: flex;
    justify-content: space-between;
    max-width: 1380px;
    margin: 0 auto;
    gap: 120px;
}

.discount {
    margin: 50px 50px;
    color: #FFFFFF;
}

.discount_img {
    margin: 50px;
}

.discount h1 {
    font-size: 90px;
    line-height: 120%;
    font-weight: 700;
}

.discount input {
    width: 473px;
    height: 75px;
    border-radius: 25.15px;
    font-size: 18px;
    font-weight: 600;
}

.order {
    font-size: 50px;
    line-height: 120%;
    font-weight: 700;
}

.discount_form {
    background-color: #FFFFFF;
    border-radius: 13px;
    padding: 15px 100px;
    margin-left: 51px;
    color: black;
}

.discount_button {
    width: 473px;
    height: 75px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 25.15px;
    padding: 9px 105px;
    margin-left: 51px;
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.25s;
}

.discount_button:hover {
    background-color: #ebe4e4;
    border-color: #f1ff5c;
    color: #339933;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

.errors {
    margin: 10px 70px;
    font-size: 15px;
}