.footer_section {
    padding-top: 100px;
}

.footer_item {
    display: flex;
    justify-content: space-between;
    padding: 0 55px 45px;
}

.footer_item h2 {
    font-size: 40px;
    font-weight: 700;
    margin-left: 45px;

}

.footer_item .phone {
    font-size: 70px;
    font-weight: 600;
    margin-left: 45px;
}

.social_media_icons {
    display: flex;
    gap: 68px;
    font-size: 44px;
    margin-left: 45px;
}

.social_media_title {
    display: flex;
    gap: 20px;
}

.social_media_title p {
    font-size: 15px;
    margin-left: 25px;
}

.footer_item .title_address {
    font-size: 40px;
    font-weight: 700;
}

.footer_item .street {
    font-size: 40px;
    font-weight: 600;
}

.footer_item .working_text {
    font-size: 18px;
    font-weight: 500;
}

.footer_item .working_time {
    font-size: 24px;
    font-weight: 600;
}