.nav_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav_menu {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 57px;
    position: relative;
}

.nav_menu li {
    margin-top: 30px;
    font-weight: 500px;
    font-size: 16px;
    cursor: pointer;
}

.catalog_btn {
    position: absolute;
    right: 1660px;
    top: 30px;

    border: 1px solid transparent;
    border-radius: 5px;
    width: 129px;
    height: 49px;
    background-color: #339933;
    color: #ffff;
    cursor: pointer;
}

.shopping_cart {
    font-size: 25px;
    margin-top: 30px;
}