.categories_section {
    margin: 40px 32px 155px 32px;
}

.categories_title {
    display: flex;
    justify-content: space-between;

}

.categories_item {
    display: flex;
    justify-content: space-evenly;
}